body {
    min-height: 100%;
}

a {
    color: $baseColor;
    outline: none;
    text-decoration: underline;
    &:visited {
        color: $baseColorDark;
    }
    &:hover {
        color: $baseColorLight;
        text-decoration: none;
    }
}

nav {
    ul, ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

:focus {
    outline-color: $baseColor;
    outline-style: auto;
    outline-width: 0.25rem;
}

::-moz-focus-inner {
    border: 0;
}

img, svg, embed, object, video {
    max-width: 100%;
}

::selection {
    color: $white;
    background-color: $baseColor;
}

::-moz-selection {
    color: $white;
    background-color: $baseColor;
}

table {
    width: 100%;
}

form {
    input, select, textarea, button {
        font: inherit;
    }
    textarea {
        resize: vertical;
    }
    input, label {
        display: inline-block;
        vertical-align: middle;
    }
}
