<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="" lang="en">
<!--<![endif]-->
<head>
    <!-- stuff -->
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- info -->
    <title>Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="author" href="humans.txt">

    <!-- style & viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/global.css?version=1" media="all" rel="stylesheet">
    <link href="/assets/css/print.css?version=1" media="print" rel="stylesheet">
    <!--[if IE]><link href="/assets/css/ie.css?version=1" media="all" rel="stylesheet"><![endif]-->
    <link rel="shortcut icon" href="favicon.ico?version=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png?version=1">
    
    <!-- fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- modernizr -->
    <script src="js/libs/modernizr-2.6.2.min.js"></script>
</head>

<body>
  
    <header>
        <nav>
            <ul>
                <li><a href="#TODO"><i class="icon-flag"></i> Lorem ipsum dolor.</a></li>
                <li><a href="#TODO"><i class="icon-flag"></i> Minima, aliquid quidem.</a></li>
                <li><a href="#TODO"><i class="icon-flag"></i> Voluptates, laborum accusamus!</a></li>
                <li><a href="#TODO"><i class="icon-flag"></i> Ipsum, eligendi, doloremque!</a></li>
                <li><a href="#TODO"><i class="icon-flag"></i> Reiciendis, quasi, unde.</a></li>
            </ul>
        </nav>
    </header>