table.default {
    td, th {
        border: 0.0625rem solid $sandstoneLight;
        padding: 0.5rem;
        min-width: 4rem;
        max-width: 25rem;
    }
    th {
        background-color: $sandstoneLighter;
    }
    tr {
        &:hover {
            background-color: rgba($sandstoneLighter, 0.5);
        }
    }
    thead {
        tr {
            td {
                font-weight: 700;
            }
        }
    }
    tbody {
        tr {
            td {

            }
        }
    }
    tfoot {
        tr {
            &:first-child {
                border-top: 0.25rem solid $sandstoneLight;
            }
            td {

            }
        }
    }
}