form {
    input, select, textarea, button {
        font: inherit;
    }
    textarea {
        resize: vertical;
    }
    input, ul {
        margin: 0;
        padding: 0;
    }
    input, label {
        display: inline-block;
        vertical-align: middle;
    }
    input {
        @mixin input-placeholder {
            &:-moz-placeholder {@content;}
            &::-moz-placeholder {@content;}
            &:-ms-input-placeholder {@content;}
            &::-webkit-input-placeholder {@content;} 
        }
        @include input-placeholder {
            color: rgba($white, 0.8)
        }
    }
    input[type="checkbox"], input[type="radio"] {
        @include appearance(initial);
        border: 0.5rem solid $white;
        width: 1rem;
        height: 1rem;
        &:checked {
            background-color: $white;
        }
    }
    input[type="radio"] {
        @include border-radius(1rem);
    }
    input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="time"], input[type="number"], input[type="file"], textarea, select {
        @include appearance(initial);
        &:focus, &:hover {
            
        }
    }
}
