table {
    width: 100%;
    thead {
        tr {
            td {

            }
        }
    }
    tbody {
        tr {
            background-color: $boulder-lighter;
            &:nth-child(even) {
                background-color: $boulder-light;
            }
            td {

            }
        }
    }
}